.ProfileInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 70px;
  margin: 30px 10px 10px 10px;
  border-bottom: 2px solid #cbc5d1;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.number {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 1rem;
  text-align: center;
}

.number span {
  font-weight: bold;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.ProfileContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bar {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 40px;
}

.bar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
}

.posts {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #b5afa8;
}

@media (max-width: 480px) {
  .ProfileInfo {
    gap: 20px;
  }

  #photo {
    width: 90px;
    height: 90px;
  }
  .ProfileInfo h2 {
    font-size: 1.25rem;
  }

  .ProfileInfo h3 {
    font-size: 1rem;
  }

  .info-numbers {
    gap: 10px;
  }

  .number {
    flex-direction: column;
    max-width: 100px;
  }

  .number p,
  .info-text p {
    font-size: 0.875rem;
  }
}

@media (max-width: 350px) {
  #photo {
    width: 70px;
    height: 70px;
  }

  .bar {
    gap: 30px;
  }
}
